 {% extends 'base.html' %}


 {% block content  %}
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In Django</h2>
					</div>
					<div class="row">
							{% if messages %}
								{% for message in messages %}
									<div class="alert alert-info">
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						<form control="" class="form-group" method="post">
						{% csrf_token %}

							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <a href="{% url 'register_attempt' %}">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
 {% endblock   %}
